<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%= render 'layouts/head' %>
    
  </head>
  <body>
    
    <!--Navigation-->
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    
    <main>
      <div class="container-fluid">
        <div class="col-sm-12 col-lg-10 col-lg-offset-1">
          
          <!--Flash Alerts-->
          <div class="text-center col-lg-8 col-lg-offset-2">
            <%= bootstrap_flash %>
          </div>
          
          <!--Yield Views-->
          <%= yield %>
          
        </div>
      </div>
    </main>
    
    <!--Footer-->
    <%= render 'layouts/footer' %>

  </body>
</html>
